    --mio-primary: 24, 144, 225;
body {
    background-image: url("https://image.qiyueyi.eu.org/openlist/background.webp");
    background-position: center;
    background-attachment: fixed;
}

body.hope-ui-dark::before {
    filter: blur(3px) brightness(0.3);
}

div#root {
    position: relative;
    z-index: 1;
}

div.hope-c-PJLV-ibcBsNO-css div.hope-c-PJLV-iubUra-css,
div.hope-c-PJLV-ibcBsNO-css .hope-c-PJLV-ifjOQLV-css {
    background-color: rgba(var(--mio-main), 0.5);
    backdrop-filter: blur(5px);
}

div.hope-c-PJLV-ibcBsNO-css div.hope-c-PJLV-idKXllh-css a {
    display: none;
}
div#root div.header {
    background: transparent;
}
div#root div.header .header-left {
    width: 40px;
    height: 40px;
}
div#root div.header .header-right > button {
    background: transparent;
}
div#root div.header svg {
    color: rgba(var(--mio-primary));
}

div.obj-box svg.hope-icon.hope-c-PJLV-ibncvoH-css {
    color: rgba(var(--mio-primary));
}

div.obj-box .hope-checkbox__input:checked + .hope-checkbox__control {
    background-color: rgba(var(--mio-primary)) !important;
}
div.left-toolbar-box div.left-toolbar {
    background-color: rgba(var(--mio-main), 0.6);
    backdrop-filter: blur(5px);
}
div.left-toolbar-box div.left-toolbar svg.hope-icon:hover,
div.left-toolbar-box svg.hope-icon:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(var(--mio-primary));
}

.hope-ui-light .hope-c-PJLV-igScBhH-css,
.hope-ui-light .hope-c-PJLV-ikSuVsl-css,
.hope-ui-light .hope-c-PJLV-ieGWMbI-css {
    background-color: rgba(var(--mio-main), 0.2) !important;
    backdrop-filter: blur(5px);
}

.hope-ui-light .hope-c-kvTTWD-hYRNAb-variant-filled {
    background-color: rgba(var(--mio-main), 0.2) !important;
    backdrop-filter: blur(5px) !important;
}

.hope-ui-light div.hope-modal__content-container .hope-c-PJLV-cfxjmx-size-xs {
    color: rgba(var(--mio-text), 0.9) !important;
}

.hope-ui-dark .hope-c-PJLV-iigjoxS-css,
.hope-ui-dark .hope-c-PJLV-iiuDLME-css,
.hope-ui-dark .hope-c-PJLV-ieGWMbI-css {
    background-color: rgba(var(--mio-main), 0.6) !important;
    backdrop-filter: blur(5px);
}

.hope-ui-dark
  div.hope-modal__content-container
  .hope-c-kvTTWD-hYRNAb-variant-filled {
    background-color: rgba(127, 127, 127, 0.1) !important;
    backdrop-filter: blur(5px) !important;
}

.hope-ui-dark div.hope-modal__content-container .hope-c-PJLV-cfxjmx-size-xs {
    color: rgba(var(--mio-text), 0.9) !important;
}
